body *:after,
body *:before,
body * {
    display: block;
    box-sizing: border-box;
    transition: all 0.256s ease-out;
    border-radius: 100%;
    border: 1px inset rgba(0, 0, 0, 0.1);
    --box-shadow-color: rgba(255, 255, 255, 0.1);
    /*box-shadow: 0 0 5px var(--box-shadow-color);*/
}
html,
body {
    background: rgb(255, 255, 255);
    float: left;
    width: 5000%;
    height: 5000%;
    overflow: hidden;
    backface-visibility: hidden;
}
body nav {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 40px;
    box-shadow: none;
    border-radius: 0;
    border: none;
    z-index: 500000;
}
body nav ul {
    margin: 0;
    padding: 0;
    box-shadow: none;
    border-radius: 0;
    border: none;
}
body nav ul li {
    float: left;
    box-shadow: none;
    border-radius: 0;
    border: none;
}
body button {
    position: relative;
    border-radius: 5% 10%;
    padding: 5px 10px;
    background: rgba(255, 255, 255, 0.5);
    z-index: 5000;
}
molekyyli.plektra,
molekyyli.plektra * {
    border-radius: 30% 70% 70% 30% / 30% 30% 70% 70% ;
}
molekyyli.kirkkovene,
molekyyli.kirkkovene * {
    border-radius: 0% 100% 3% 97% / 0% 100% 0% 100% ;
}
molekyyli.nelio,
molekyyli.nelio * {
    border-radius: 0% 100% 0% 100% / 100% 0% 100% 0% ;
}
molekyyli.puoliNelio,
molekyyli.puoliNelio * {
    border-radius: 0% 100% 100% 0% / 100% 0% 100% 0% ;
}
molekyyli.pisara,
molekyyli.pisara * {
    border-radius: 79% 21% 76% 24% / 72% 0% 100% 28%;
}
molekyyli.nelio2,
molekyyli.nelio2 * {
    border-radius: 94% 10% 88% 7% / 10% 89% 10% 90% ;
}
molekyyli.nelio3,
molekyyli.nelio3 * {
    border-radius: 69% 26% 72% 25% / 17% 77% 17% 77% ;
}
molekyyli.hattu,
molekyyli.hattu * {
    border-radius: 87% 8% 70% 38% / 90% 68% 32% 37% ;
}
molekyyli {
    float: left;
    width: 10%;
    height: 10%;
    position: absolute;
    left: 45%;
    top: 0;
    --box-shadow-color: rgba(217, 165, 32,0.1);
    /*
    perspective-origin: 25% 50%;
    transform: rotatey(97deg);
    */
    background: transparent;
    border: none;
}
molekyyli:after,
molekyyli:before {
    display: none;
    visibility: hidden;
}
vety {
    position: absolute;
    width: 5%;
    height: 5%;
    background: transparent;
    --box-shadow-color: rgba(0, 0, 255, 0.1);
}
vety:after {
    left: 25%;
    top: 25%;
}
vety:before {
    right: 25%;
    bottom: 25%;
}
vety elektrooni {
    float: left;
    position: absolute;
    width: 300%;
    height: 300%;
    left: -100%;
    top: -100%;
    background: transparent;
    --box-shadow-color: rgba(255, 255, 255, 0.1);
}
vety elektrooni protoni,
vety elektrooni neutroni {
    width: 12%;
    height: 12%;
}
vety elektrooni protoni {
    left: 20%;
    top: 10%;
}
molekyyli vety elektrooni neutroni {
    right: 20%;
    bottom: 10%;
    top: auto;
}
vety protoni,
vety neutroni {
    position: absolute;
    width: 21%;
    height: 21%;
    background: transparent;
}
vety protoni {
    left: 32%;
    top: 32%;
    --box-shadow-color: rgba(0, 128, 0, 0.1);
}
vety protoni+neutroni {
    right: 32%;
    left: auto;
    top: 32%;
    bottom: auto;
}
vety neutroni {
    right: 32%;
    bottom: 32%;
    --box-shadow-color: rgba(255, 255, 0, 0.1);
}
vety neutroni+neutroni {
    right: auto;
    left: 32%;
    bottom: 32%;
}
vety neutroni:nth-of-type(3) {
    left: 47%;
    bottom: 32%;
}
vety:after,
vety:before,
vety elektrooni:before,
vety elektrooni:after,
vety neutroni:before,
vety neutroni:after,
vety protoni:before,
vety protoni:after {
    position: absolute;
    width: 5%;
    height: 5%;
    content: " ";
}
vety:after,
vety elektrooni:after,
vety neutroni:after,
vety protoni:after {
    left: 20%;
    top: 20%;
}
vety:before,
vety elektrooni:before,
vety neutroni:before,
vety protoni:before {
    right: 20%;
    bottom: 20%;
}
